extends layout

block content
  include nav.pug
  section.intro 
    .logo-container
    p Help find loving, forever homes for surrendered and rescued animals
    p Promote safe and responsible pet ownership
  section
    article.news-article
      h2 Our Story
      h4 Thank you, for taking the time to get to know us.
      p First of all, it means a lot that you visited our site and want to know more about us. 
        | There are plenty of great sites out there just as passionate and committed to this cause as we are.
        | Totes Pets will strive to offer a wider collection of information that covers both dogs and cats, starting from adoption all the way through a happy family life.
        | Our hope is that you continue to choose our site for the latest and greatest news on all things pets.
      h4 Who "we" are
      p My name is Danny Solis. I'm the proud owner of two rescued shih tzus, Tobee and Taylor. I'm also husband to a wonder wife, Stacy. They are my world.
      p I'm an IT Project Manager by day, web developer by night.
      p I'm a volunteer for 
        a(href="https://humaneheroes.org") Texas Humane Heroes.
      P We are a family that is committed to animal welfare, rescue, and adoption.
      h4 An idea becomes reality
      p Totes Pets started as a class project while attending classes at Austin Coding Academy. 
        | One particlar evening on my way to class, I witnessed an event that left a lasting mark on me personally. 
        | Driving down the left lane of a typically congested freeway, I spotted something moving in the center lane. 
        | As I got closer, I made the startling discover that this thing was actually a kitten laying on the pavement. 
        | Several cars and trucks had passed over the kitten, unaware of what was lying in the road. 
        | I was prepared to do whatever was necessary to rescue this kitten from the situation. What happened next was truly amazing. 
        | Just as I passed the kitten, ready to stop traffic, the entire freeway came to a standstill. It became obvious that I wasn't the only one who saw the kitten.
        | All lanes of traffic stopped simultaneously, with no prompting or direction. A passenger in a car from the left lane hopped out, scooped up the kitten, and jumped back into his vehicle. 
        | 
