extends layout

block content
  section.header#adoption-header
    h1 adoption
    div
      span Find A Shelter
      input#shelter-search(type="number" placeholder="Zip Code")
      i#shelter-searchgo.fa.fa-search
    span Powered by 
      a(href="https://www.petfinder.com" target="_blank") Petfinder
  section#adoption
    div
      span#search-status
    #shelters
  section#testimonials
    q.quote= testmnl[0].quote
    span.author= " - " + testmnl[0].author
    a(href="#") Read More

block scripts
  script(src="/javascripts/rescuesearchscript.js")
