extends layout

block links
  link(rel='stylesheet', href='/stylesheets/adoption.css')

block content
  section#adoption-header
    .header
      h1 adoption
  section#testimonials
    i.fa.fa-quote-left.fa-3x
    p.quote= testmnl[0].quote
    span.author= " - " + testmnl[0].author
    a(href=`/testimonials/${testmnl[0]._id}`) Read More
