extends layout

block links
  link(rel='stylesheet', href='/stylesheets/blogpost.css')

block content
  include nav.pug
  section.dark-header
    .blog-header
      h2= post[0].headline
      h4= post[0].author + " | " + post[0].date
      h3 totes blog 
  section
    article.blog-post 
      each n in post[0].story
        h4= n.subheader
        each x in n.text
          p!= x
      a(href="/blog") Back to Blog
