extends layout

block content
  include nav.pug
  section#intro
    .logo-container
    h3= message
    a(href='javascript:history.back()') Go Back
  section
    h2= error.status
    .error-stack
      pre #{error.stack}
