extends layout

block links
  link(rel='stylesheet', href='/stylesheets/newsarticle.css')

block content
  include nav.pug
  section.header
    .news-header
      h2= article[0].headline
      h4= article[0].author + " | " + article[0].date
  section
    article.news-article 
      each n in article[0].story
        h4= n.subheader
        each x in n.text
          p!= x
      a(href="/articles") Back to articles
