extends layout

block metas
  meta(name="keywords", content="totes pets, pets, rescue pets, dogs, cats, totespets, pet adoption, pet articles, animal welfare, rescue volunteer, shelter volunteer")
  meta(property="og:url", content=`https://totespets.com`)
  meta(property="og:type", content="article")
  meta(property="og:title", content="We're Totes Pets")
  meta(property="og:description", content="Help find loving, forever homes for surrendered and rescued animals | Promote safe and responsible pet ownership")
  meta(property="og:image", content="https://totespets.com/images/totes_pets_logofull.png")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content="https://totespets.com/images/totes_pets_logofull.png")
  meta(name="cf-2fa-verify", content="c19bec76be38a19")  

block content
  section.intro 
    .logo-container
    h4 We're totes in the middle of a makeover.  We hope to be back better than ever very soon, with some of the best pet photography on the web!
block scripts
  script(src="/javascripts/script.js")
