extends layout

block content
  section#intro
    .header
      h1 totes pets
      p All About the pets
  section#mission
    div
      h2 our mission
      i.fa.fa-paw.fa-2x
      p Help find loving, forever homes for surrendered and rescued animals.
      i.fa.fa-paw.fa-2x
      p Promote safe and responsible pet ownership.
  section#action-call
    div
      h2 adopt
      p 
        |Hundreds of sheltered pets are waiting to come home to a loving family. Are you new to pet adoption?
        | Know what to expect and how to find the ideal pet for your living situation.
      .learn-more Learn More
    div
      h2 foster
      p 
        |Fostering can be a great way to help a rescued pet transition to a forever home. It also helps shelters
        |maintain available space for new arrivals.
      .learn-more Learn More
