extends layout

block metas
  meta(property="og:url", content=`https://totespets.com/links-in-bio`)
  meta(property="og:type", content="article")
  meta(property="og:title", content='Totes Instagram Links in Bio')
  meta(property="og:description", content='Thanks for visiting our Instagram account. Check out these totes links!')
  meta(property="og:image", content='https://totespets.com/images/test.jpg')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://totespets.com/images/test.jpg')

block links
  link(rel='stylesheet', href='/stylesheets/newsarticle.css')

block content
  section.header
    .news-header
      h2 
        i.fab.fa-instagram
        | Totes Links in Bio
      h4 Thanks for visiting our Instagram account. Check out these totes links!
  section
    article.instagram-links
      a(href="/")
        .instagram-link-div
          h4 totespets.com
          p Visit our full website for our articles, blog, and gallery
      a(href="/rescue-stories")
        .instagram-link-div 
          h4 Adoption Stories
          p Tell us about that time you save a four-legged life

block scripts
