doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block metas
    title= title
    link(href="https://fonts.googleapis.com/css?family=Caveat+Brush|Yantramanav:300", rel="stylesheet")  
    link(rel='stylesheet', href='/stylesheets/style.css')
    block links
    script(src="/javascripts/fontawesome-all.js")

  body    
    block content
    
    footer#contact
      #social
        a(href="https://www.facebook.com/totespets/")
          p facebook
        a(href="https://twitter.com/totespets")
          p twitter
        a(href="https://www.instagram.com/totespets/")
          p instagram
      //
        #partner
          h5 Partner with us
          a(href="/rescuepartner") Rescue Groups
          p Veterinarians
          p Pet Services
      #contact-us
        p Copyright &copy totespets.com 2018
        p info@totespets.com
      #march
        a(href="/articles")
          p totes articles
        a(href="/blog")
          p totes blog
        a(href="/aboutus")
          p totes story
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="/javascripts/script.js")
    block scripts
