doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", contect="width=device-widths, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/stylesheets/css-reset.css")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Caveat+Brush", rel="stylesheet")  
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav(role="navigation").navbar.navbar-default.navbar-fixed-top#rescue-nav
        .container
          .navbar-header
            button(type="button" data-toggle="collapse" data-target="#rescue-navbar-collapse").navbar-toggle.collapsed
              span.sr-only Toggle navigation
              i.fa.fa-paw
            a.navbar-brand#logo(href="/") totes pets
          .collapse.navbar-collapse#rescue-navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.rescue-menu(href="/adoption") Adoption
              li
                a.rescue-menu(href="/users") Donation
              li
                a.rescue-menu(href="/foster") Foster
              li
                a.rescue-menu(href="#contact") Contact
    block content
    section#mission
      div
        h2 our mission is simple
        i.fa.fa-paw.fa-2x
        p Help find loving, forever homes for surrendered and rescued animals.
        i.fa.fa-paw.fa-2x
        p Promote safe and responsible pet ownership.
    section#action-call
      div
        h2 adopt
        p 
          |Hundreds of sheltered pets are waiting to come home to a loving family. Are you new to pet adoption?
          | Know what to expect and how to find the ideal pet for your living situation.
        .learn-more Learn More
      div
        h2 donate
        p 
          |Many rescue organizations are funded by donations from generous people, just like you. These donations
          |arent just financial and can include food, blankets, and toys.
        .learn-more Learn More
      div
        h2 foster
        p 
          |Fostering can be a great way to help a rescued pet transition to a forever home. It also helps shelters
          |maintain available space for new arrivals.
        .learn-more Learn More
    footer#contact.row
      #social.col-xs-6.col-sm-3
        h4 Follow Us
        p Facebook
        p Twitter
        p YouTube
        p Instagram
      #partner.col-xs-6.col-sm-3
        h4 Partner with us
        p Rescue Groups
        p Veterinarians
        p Pet Services
      #contact-us.col-xs-6.col-sm-3
        h4 Contact Us
        p totes pets
        p P.O. Box 123
        p Austin, TX 78759
        p totespets@gmail.com
      #march.col-xs-6.col-sm-3
        h4 Web Design
        p ***totespets.com is not a live site or real organization. This is a web portfolio sample from 
          a(target="_blank", href="https://dsolis421.github.io/march76/") Danny Solis
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://use.fontawesome.com/9822dc9e23.js")
    script(src="/javascripts/script.js")
