doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/stylesheets/css-reset.css")
    link(href="https://fonts.googleapis.com/css?family=Caveat+Brush|Yantramanav:300", rel="stylesheet")  
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav.toggle-nav#top-nav
        .icon
          i.fa.fa-paw
        a.rescue-menu(href="/") home
        a.rescue-menu(href="/news") news
        a.rescue-menu(href="/adoption") adoption
        a.rescue-menu(href="/foster") foster
    block content
    
    footer#contact.row
      #social.col-xs-6.col-sm-3
        h4 Follow Us
        p Facebook
        p Twitter
        p YouTube
        p Instagram
      #partner.col-xs-6.col-sm-3
        h4 Partner with us
        a(href="/rescuepartner") Rescue Groups
        p Veterinarians
        p Pet Services
      #contact-us.col-xs-6.col-sm-3
        h4 Contact Us
        p totes pets
        p P.O. Box 123
        p Austin, TX 78759
        p totespets@gmail.com
      #march.col-xs-6.col-sm-3
        h4 Web Design
        p ***totespets.com is not a live site or real organization. This is a web portfolio sample from 
          a(target="_blank", href="https://dsolis421.github.io/march76/") Danny Solis
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://use.fontawesome.com/9822dc9e23.js")
    script(src="/javascripts/script.js")
    block scripts
