doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block metas
    title= title
    link(href="https://fonts.googleapis.com/css?family=Caveat+Brush|Yantramanav:300", rel="stylesheet")  
    link(rel='stylesheet', href='/stylesheets/style.css')
    block links
  body    
    block content
    
    footer#contact
      #social
        h5 Follow Us
        p Facebook
        p Twitter
        p Instagram
      #partner
        h5 Partner with us
        a(href="/rescuepartner") Rescue Groups
        p Veterinarians
        p Pet Services
      #contact-us
        h5 Contact Us
        p totespets@gmail.com
      #march
        h5 Web Design
        p March76 
          a(target="_blank", href="https://dsolis421.github.io/march76/") Danny Solis
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://use.fontawesome.com/9822dc9e23.js")
    script(src="/javascripts/script.js")
    block scripts
