header
  nav.toggle-nav#top-nav
    .icon
      i.fa.fa-paw
    a(href="/")
      .nav-logo-container
    a.rescue-menu(href="/articles") totes articles
    a.rescue-menu(href="/blog") totes blog
    a.rescue-menu(href="/gallery") totes gallery
