header
  nav.toggle-nav#top-nav
    .icon
      i.fa.fa-paw
    a.rescue-menu(href="/") home
    a.rescue-menu(href="/articles") articles
    a.rescue-menu(href="/adoption") adoption
    a.rescue-menu(href="/foster") foster
    a.rescue-menu(href="/blog") blog
