extends layout

block links
  link(rel='stylesheet', href='/stylesheets/news.css')

block content
  section.header
    h1 news
  section#news
    each h in articles
      .article-block
        .article-top
          a(href=`/news/${h.quick}`)
            h4= h.headline
