extends layout

block content
  section.header
    h1 news
  section#news-article
    aside
    article
      h2= article[0].headline
      each i in article[0].story
        h3= i.subheader
        each x in i.text
          p!= x
