extends layout

block links
  link(rel='stylesheet', href='/stylesheets/news.css')

block content
  section#news-header
    .header
      h1 news
  section
    .top-story    
      h2= articles[0].headline
      p!= articles[0].story[0].text[0]
  section#news
    each h in articles
      .article-block
        .article-top
          a(href=`/news/${h.quick}`)
            h4= h.headline
