extends layout

block links
  link(rel='stylesheet', href='/stylesheets/petname.css')
    
block content
  include nav.pug
  .dark-header
    h2 What's in a name?
    h4 Let us help you find the perfect name for your new pet
  section#pet-name-app
    .pet-name-message#pet-type
      p Is this for a dog or cat?
    .pet-name-choices#pet-type-choices
      .pet-name-selector.unselected(data-pettype="dog") Dog
      .pet-name-selector.unselected(data-pettype="cat") Cat
    .pet-name-message#pet-gender
      p Then, tell us the gender of your pet
    .pet-name-choices#pet-gender-choices
    .pet-name-message#pet-color
      p Then, tell us what color your pet is
    .pet-name-choices#pet-color-choices
    .pet-name-message#pet-qualities
      p Finally, tell us your pet's best qualities
    .pet-name-choices#pet-quality-choices
      
    
    
block scripts
  script(src="/javascripts/petnamescript.js")
