extends layout

block links
  link(rel='stylesheet', href='/stylesheets/petname.css')
    
block content
  .header
    h2 What's in a name?
    h4 Let us help you find the perfect name for your new Pet
  section#pet-name-app
    .pet-name-start Get Started
    
    
block scripts
  script(src="/javascripts/petnamescript.js")
