extends layout

block content
  section.header#rescue-partner-header
    h1 partner
    h3 How can we help?
  section
    p 
      |We offer our site as a resource to assist with your rescue operation.
    h2 rescue hosting
    h2 event promotion
    h2 fundraising
