#testimonials {
  padding: 5% 20%;
}

i,
#testimonials p {
  display: inline;
}

#testimonials i {
  color: #F7A375;
  margin-right: 20px;
}

#testimonials span,
#testimonials a {
  display: block;
}

#testimonials a {
  color: blue;
}
