#adoption-header {
  background-image: url('../images/justin-veenema-31135.jpg');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}

#testimonials {
  padding: 5% 20%;
}

i,
#testimonials p,
#full-testimonial aside p {
  display: inline;
}

#testimonials i,
#full-testimonial i {
  color: #005005;
  margin-right: 20px;
}

#testimonials span, #testimonials a {
  display: block;
}

#full-testimonial {
  padding: 3% 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
