#news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.top-story {
  text-align: left;
  width: 80%;
  height: auto;
  padding: 20px;
  width: auto;
}

.top-story h2 {
  color: #341509;
  text-align: left;
}

.top-story h2:hover,
.top-story a:first-of-type:hover {
  color: #fff;
  text-decoration: underline;
}

.top-story p {
  color: black;
}

.top-story a:last-of-type {
  color: blue;
  display: block;
  margin-top: 15px;
}

.latest-article h4 {
  background: #F7A375;
  text-align: center;
  width: 200px;
}

.article-block {
  border: 3px solid #F7A375;
  height: 300px;
  margin: 15px;
  width: 300px;
}

.article-top {
  background: #F7A375;
  color: white;
  height: auto;
  padding: 5px;
}

.article-top a {
  color: inherit;
}
