.blog-post {
  margin: 10px auto;
  width: 70%;
  text-align: left;
}

.blog-header {
  width: 90%;
  text-align: left;
}

.blog-header h2,
.blog-post h3 {
  text-align: left;
}

.blog-header h2 {
  color: white;
}

.blog-post q {
  font-style: italic;
  margin: 15px 10px;
}

.blog-post p {
  margin: 15px 0;
}

.blog-post ul {
  margin-left: 40px;
}
