.blog-post {
  margin: 10px auto;
  width: 70%;
  text-align: left;
}

.blog-header {
  text-align: left;
  position: relative;
}

.blog-header h2,
.blog-header h4 {
  color: white;
  padding-left: 15px;
  text-align: left;
}

.blog-header h3 {
  color: #F7A375;
  bottom: 0;
  text-align: right;
  position: absolute;
  right: 0;
}

.blog-post q {
  font-style: italic;
  margin: 15px 10px;
}

.blog-post p {
  margin: 15px 0;
}

.blog-post ul {
  margin-left: 40px;
}

@media screen and (max-width: 555px) {

}

@media screen and (min-width: 556px) and (max-width: 1200px) {

}
