#blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.top-post {
  text-align: left;
  width: 80%;
  height: auto;
  padding: 20px;
  width: auto;
}

.top-post h2 {
  color: #341509;
  text-align: left;
}

.top-post h2:hover,
.top-post a:first-of-type:hover {
  color: #fff;
  text-decoration: underline;
}

.top-post p {
  color: black;
}

.latest-post h4 {
  background: #F7A375;
  text-align: center;
  width: 200px;
}

.blog-block {
  border-top: 3px solid #F7A375;
  height: auto;
  margin: 15px auto;
  width: 80%;
}

.post-top {
  background: #F7A375;
  color: white;
  height: auto;
  float: left;
  padding: 10px;
  width: 250px;
}

.post-top a {
  color: inherit;
}
