.gallery-section {
  text-align: center;
}

.gallery-section h4:last-of-type {
  margin-top: 30px;
}

.gallery-section p:last-of-type {
  margin-bottom: 30px;
}

.gallery-section a {
  color: blue;
}

.gallery-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

.gallery-nav p,
.gallery-nav span {
  line-height: 52px;
}

.gallery-nav input {
  text-align: center;
  margin: 0 10px;
  width: 50px;
}

.min-gallery-page,
.prev-gallery-page,
.next-gallery-page,
.max-gallery-page {
  font-size: 15px;
  border: 1px solid #F7A375;
  border-radius: 2px;
  width: 25px;
  height: 52px;
  line-height: 52px;
  margin: 0 15px;
}

.gallery-set {
  height: auto;
}

.gallery-set figure {
  display: block;
  height: auto;
  min-width: 200px;
  margin: 10px auto;
  max-width: 50%;
}

.fade {
  -webkit-animation: lozadFade 5s; /* Safari 4+ */
  -moz-animation: lozadFade 5s; /* Fx 5+ */
  -o-animation: lozadFade 5s; /* Opera 12+ */
  animation: lozadFade 5s; /* IE 10+, Fx 29+ */
}

@keyframes lozadFade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes lozadFade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes lozadFade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes lozadFade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

figcaption a,
figcaption a:visited {
  color: #F7A375;
  margin-left: 10px;
}

@media screen and (max-width: 555px) {

  .gallery-set figure {
    max-width: 75%;
  }

}

@media screen and (min-width: 556px) and (max-width: 1200) {

  .gallery-set figure {
    max-width: 90%;
  }

}
