.gallery-nav {
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

.gallery-nav input {
  margin: 0 10px;
  width: 50px;
}

.gallery-nav .fa-angle-left,
.gallery-nav .fa-angle-right {
  margin: 0 10px;
}

.gallery-set {
  height: auto;
}

.gallery-set img {
  display: block;
  height: auto;
  min-width: 200px;
  margin: 10px auto;
  max-width: 90%;
}
