#news-header {
  background-image: url('../images/andrew-branch-126769.jpg');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}

#news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.top-story {
  background: rgba(255, 255, 255, .7);
  text-align: left;
  width: 80%;
  height: auto;
  padding: 20px;
  width: auto;
}

.top-story h2 {
  color: #005005;
  font-weight: bold;
  text-align: left;
}

.top-story p {
  color: black;
}

.top-story a:nth-of-type(2) {
  color: blue;
}

.article-block {
  border: 3px solid #b3b3b3;
  height: 300px;
  margin: 15px;
  width: 300px;
}

.article-top {
  background: #005005;
  color: white;
  height: auto;
  padding: 5px;
}
