.news-article {
  margin: 10px auto;
  width: 70%;
  text-align: left;
}

.news-header h2,
.news-header h4 {
  color: white;
  padding-left: 15px;
  text-align: left;
}

.news-article q {
  font-style: italic;
  margin: 15px 10px;
}

.news-article p {
  margin: 15px 0;
}

.news-article ul {
  margin-left: 40px;
}
