/*
new color scheme
blue: #5DA4C1
orange: #F7A375
dark orange: #E0763D
brown: #462310
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  font-family: 'Yantramanav', sans-serif;
  color: #462310;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  height: auto;
  margin: 0 auto;
}

article {
  min-width: 300px;
  max-width: 80%;
  margin: 50px auto;
  text-align: left;
}

a,
p,
q,
span,
li,
figcaption {
  font-size: 23px;
}

p,
q,
span {
  line-height: 40px;
}

a,
a:visited,
a:focus {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #341509;
  font-family: 'Caveat Brush', cursive;
  font-size: 150px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h2,
h3,
h4,
h5 {
  font-weight: bold;
}

ul {
  padding-left: 20px;
}

.toggle-nav {
  align-content: center;
  background: none;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  padding: 10px;
  position: fixed;
  transition: all .7s;
  width: calc(100% - 20px);
  z-index: 100;
}

.toggle-nav a,
.toggle-nav a:visited,
.toggle-nav a:focus {
  color: #fff;
  display: block;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
}

.toggle-nav .icon {
  border: 1px solid #D4F7EC;
  border-radius: 2px;
  display: none;
  padding: 2px 15px 0 15px;
  width: auto;
}

.icon > i {
  line-height: 50px;
  font-size: 30px;
}

.nav-logo-container {
  background-image: url("../images/white_textonly_transparent.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  height: auto;
  padding: 0; /* reset */
  padding-bottom: 50px;
  width: 130px;
}

.header {
  background: #5DA4C1;
  background: -webkit-radial-gradient(#a3ccdc,#5DA4C1);
  background: -o-radial-gradient(#a3ccdc,#5DA4C1);
  background: -moz-radial-gradient(#a3ccdc,#5DA4C1);
  background: radial-gradient(#a3ccdc,#5DA4C1);
  color: #fff;
  padding: 80px 15% 20px 15%;
}

.dark-header {
  background: #E0763D;
  background: -webkit-radial-gradient(#F7A375,#E0763D);
  background: -o-radial-gradient(#F7A375,#E0763D);
  background: -moz-radial-gradient(#F7A375,#E0763D);
  background: radial-gradient(#F7A375,#E0763D);
  color: #fff;
  padding: 80px 15% 20px 15%;
}

.intro {
  background: #5DA4C1;
  background: -webkit-radial-gradient(#a3ccdc,#5DA4C1);
  background: -o-radial-gradient(#a3ccdc,#5DA4C1);
  background: -moz-radial-gradient(#a3ccdc,#5DA4C1);
  background: radial-gradient(#a3ccdc,#5DA4C1);
  color: #fff;
  height: auto;
  padding: 50px 10% 20px 10%;
  text-align: center;
}

/*this padding hack was to get the svg to display in ie*/
.logo-container {
  width: 400px;
  background-image: url("../images/color_logoonly_transparent.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  height: auto;
  margin: 0 auto -50px auto;
  padding: 0; /* reset */
  padding-bottom: calc(400px * 1.13107606);
}

.intro h4 {
  margin-bottom: 15px;
}

.intro .fa-angle-down {
  color: #F7A375;
  -webkit-animation: moveAngleDown 2s linear infinite;
  -moz-animation: moveAngleDown 2s linear infinite;
  -o-animation: moveAngleDown 2s linear infinite;
  animation: moveAngleDown 2s linear infinite;
}

@-webkit-keyframes moveAngleDown {
    from { -webkit-transform: rotateY(0deg); }
    to   { -webkit-transform: rotateY(180deg); }
}

@-moz-keyframes moveAngleDown {
    from { -moz-transform: rotateY(0deg); }
    to   { -moz-transform: rotateY(180deg); }
}

@-o-keyframes moveAngleDown {
    from { -o-transform: rotateY(0deg); }
    to   { -o-transform: rotateY(180deg); }
}

@keyframes moveAngleDown {
    from { transform: rotateY(0deg); }
    to   { transform: rotateY(180deg); }
}

.header .detail-anchor {
  color: blue;
  display: block;
  margin-top: 15px;
  width: 100px;
}

/*.pet-name-gen {
  border-bottom: 30px solid #5DA4C1;
  padding: 40px;
}*/

.article-preview,
.blog-preview {
  position: relative;
}

.landing-labels {
  color: #fff;
  display: inline-block;
  opacity: .4;
  padding: 0 2%;
  position: absolute;
  top: 50%;
  transition: all 1s;
  transform: translateY(-50%);
  width: auto;
}

.article-preview > .landing-labels {
  right: 0;
}

.featured-content-hero {
  border-top: 50px solid #5DA4C1;
  border-bottom: 50px solid #5DA4C1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 5%;
}

.featured-content-hero div {
  height: 100%;
  margin: 10px auto;
  text-align: left;
  width: 30%;
}

.featured-content-hero div:nth-of-type(2) a {
  background: #F7A375;
  color: #fff;
  display: block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: auto;
}

.preview {
  background: rgba(255, 255, 255, .7);
  padding: 15px;
  transition: all 1s;
  width: 30%;
  opacity: 0;
}

.preview h3,
.preview > p {
  padding: 10px;
}

.article-preview {
  background-image: url('../images/pete-bellis-324941.jpg');
  background-position: right;
  background-size: cover;
  height: auto;
}

.blog-preview > .preview {
  float: right;
}

.blog-preview {
  background-image: url('../images/dorota-dylka-69581.jpg');
  background-position: left;
  background-size: cover;
  height: auto;
}

.article-preview:hover > h2,
.blog-preview:hover > h2,
.article-preview:hover .preview,
.blog-preview:hover .preview {
  opacity: 1;
}


.pet-name-gen a:last-of-type,
.preview > a:last-of-type {
  background: #F7A375;
  color: #fff;
  display: block;
  margin: 15px auto;
  padding: 5px 15px;
  text-align: center;
  width: 200px;
}

.news-article {
  margin: 10px auto;
  width: 70%;
  text-align: left;
}

.news-header {
  position: relative;
}

.news-header h2,
.news-header h4 {
  color: white;
  padding-left: 15px;
  text-align: left;
}

.news-header h3 {
  color: #F7A375;
  bottom: 0;
  text-align: right;
  position: absolute;
  right: 0;
}

.news-header h3,
.blog-header h3 {
  visibility: visible;
}

.news-article q {
  font-style: italic;
  margin: 15px 10px;
}

.news-article p {
  margin: 15px 0;
}

.news-article ul {
  margin-left: 40px;
}

.news-article figure,
.blog-post figure {
  display: block;
  height: auto;
  margin: 20px auto;
  width: 50%;
}

figure > img {
  height: auto;
  width: 100%;
}

figcaption {
  height: auto;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}

.article-close {
  color: #E0763D;
  margin-top: 50px;
}

/*only needed in dev mode*/
.error-stack {
  text-align: left;
}

.clear-fix::after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
}

#fb-share,
#tw-share a {
  display: inline-block;
  font-size: 28px;
  margin: 10px 15px;
  transition: all .5s;
}

#fb-share:hover svg,
#tw-share:hover svg {
  cursor: pointer;
  transform: scale(1.3) rotate(360deg);
  transition: all .7s;
}

.news-article a,
.blog-post a {
  color: blue;
}

footer {
  color: #fff;
  background: #341509;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
}

footer > div {
  padding: 20px 10px;
  height: auto;
  margin: 0 auto;
  width: 350px;
}

footer div:nth-of-type(2) {
  text-align: center;
}

footer div:nth-of-type(3) {
  text-align: right;
}

footer p {
  padding: 0px 10px 0px 10px;
}

@media screen and (max-width: 555px) {
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 18px;
  }

  a,
  p,
  q,
  span,
  li,
  figcaption {
    font-size: 18px;
  }

  p,
  q,
  span {
    line-height: 25px;
  }

  .toggle-nav {
    display: block;
    flex: none;
  }

  .toggle-nav .rescue-menu {
    display: none;
  }

  .toggle-nav .icon {
    display: inline-block;
    float: right;
  }

  .toggle-nav.responsive {
    background: #E0763D;
  }

  .toggle-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .intro {
    padding: 2% 10% 20px 10%;
  }

  /*this padding hack was to get the svg to display in ie*/
  .logo-container {
    height: auto;
    margin: 0 auto -25% auto;
    padding-bottom: calc(90vw * 1.13107606);
    width: 90%;
  }

  .featured-content-hero div {
    padding: 10px;
    width: 100%;
  }

  .preview {
    width: calc(100% - 30px);
  }

  .article-preview,
  .blog-preview {
    background-position: center;
    padding: 0;
  }

  .blog-preview > .preview {
    float: none;
  }

  .article-preview:hover > h2,
  .blog-preview:hover > h2 {
    opacity: 0;
  }

  .news-header h3,
  .blog-header h3 {
    visibility: hidden;
  }

  .news-article figure,
  .blog-post figure {
    display: block;
    height: auto;
    margin: 10px auto;
    width: 80%;
  }

  footer > div,
  footer div:nth-of-type(3) {
    text-align: center;
  }
}

@media screen and (min-width: 556px) and (max-width: 1200px) {
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  a,
  p,
  q,
  span,
  li,
  figcaption {
    font-size: 20px;
  }

  p,
  q,
  span {
    line-height: 30px;
  }

  .preview {
    width: 50%;
  }

  .article-preview:hover > h2,
  .blog-preview:hover > h2 {
    opacity: 0;
  }

  .pet-name-gen a:last-of-type,
  .preview > a:last-of-type {
    width: auto;
  }

  footer > div,
  footer div:nth-of-type(3) {
    text-align: center;
  }
}
